<h2>Lista de cursos</h2>

<div class="form-group row">
    <label for="col-sm-2
     col-from-label">Pesquisar cursos:</label>

    <div class="col-sm-10">
        <input [(ngModel)]="filtro" class="form-control pesquisa">
    </div>
</div>

<table class="table table-striped align-middle">
    <thead *ngFor="let item of header">
        <tr>
            <th>{{item.imagem}}</th>
            <th>{{item.nome}}</th>
            <th>{{item.preco}}</th>
            <th>{{item.code}}</th>
            <th>{{item.releaseDate}}</th>
            <th>{{item.rating}}</th>
            <th>{{item.opcoes}}</th>  
        </tr>  
    </thead>
    <tbody>
        <tr *ngFor="let item of cursosFiltrados">
            <td><img src="{{item.imageUrl}}" alt="brands" width="{{item.imgWidth}}"></td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.code | lowercase | replace: '-':' '}}</td>  <!-- PIPES: fazem alterações na exibição de propriedades -->
            <td>{{item.releaseDate | date: 'dd/MM/yyyy'}}</td>  
            <td>{{item.rating}}<app-star [rating]="item.rating"></app-star></td>
            <td></td>
        </tr>
    </tbody>
</table> 